<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <link href="/static/page-styles.css" th:href="@{/page-styles.css}" rel="stylesheet">
</head>
<body class="body">

<h1>DEPOSIT SUCCESSFUL</h1>

<div class="white-button">
    <a th:href="@{/}" href="#" >Home</a>
</div>

</body>
</html>