<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--<div style="text-align: center">-->
<!--    <h5> <span th:text="'A verification email has been sent to: ' + ${emailId}"></span></h5>-->

<!--    <h6><a th:href="@{/}">Return to home</a></h6>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->