<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
            href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
            rel="stylesheet"
    />

    <title>Virtual Wallet</title>

    <!--
    Reflux Template
    https://templatemo.com/tm-531-reflux
    -->
    <!-- Bootstrap core CSS -->
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../../assets/css/fontawesome.css" />
    <link rel="stylesheet" href="../../assets/css/templatemo-style.css" />
    <link rel="stylesheet" href="../../assets/css/owl.css" />
    <link rel="stylesheet" href="../../assets/css/lightbox.css" />
</head>
<body>
<div id="page-wraper">
    <!-- Sidebar Menu -->
    <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
            <i class="fa fa-times" id="menu-close"></i>
            <div class="container">

                <div class="author-content">
                    <h4>Virtual Wallet</h4>

                </div>
                <nav class="main-nav" role="navigation">
                    <ul class="main-menu">
                        <li><a th:href="@{/}">Home</a></li>
                        <li><a th:if="${isAuthenticated}"th:href="@{/auth/logout}">Logout</a></li>


                    </ul>
                </nav>
                <div class="social-network">
                    <ul class="soial-icons">
                        <li>
                            <a href="#"><i class="fa fa-desktop"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-rss"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-credit-card"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-money"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-exchange"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-globe"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="copyright-text">
                    <p>©2021 Virtual Wallet</p>
                </div>
            </div>
        </div>
    </div>

    <div class="login-box">
        <h2>Add card</h2>

<form class="form" action="#" th:action="@{/cards/add}" th:object="${addCard}" method="post">

    <div class="user-box">
        <input class="input" required type="text" th:field="*{cardNumber}" minlength="16" maxlength="16">
        <label>Card Number</label>
    </div>
    <label class="error" th:errors="*{cardNumber}">Card number error placeholder</label>


    <div class="user-box">
        <input class="input" required type="text" th:field="*{cardHolder}" maxlength="30">
    <label>Card Holder</label>
    </div>
    <label class="error" th:errors="*{cardHolder}">Card holder error placeholder</label>

    <div class="user-box">
        <input class="input" required type="text" th:field="*{checkNumber}" minlength="3" maxlength="3">
    <label>Check Number</label>
    </div>
    <label class="error" th:errors="*{checkNumber}">Check number error placeholder</label>

    <div class="user-box">
        <input required type="date" class="input"  th:field="*{expirationDate}" placeholder="toDate">
    <label>Expiration Date</label>
    </div>
    <label class="error" th:errors="*{expirationDate}">Expiration date error placeholder</label>
    <br>

    <button  type="submit">Submit</button>
</form>


</body>
</html>