
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Virtual Wallet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <link
            href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
            rel="stylesheet"
    />

    <!--
  Reflux Template
  https://templatemo.com/tm-531-reflux
  -->
    <!-- Bootstrap core CSS -->
    <link href="../../../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../../../../assets/css/fontawesome.css"/>
    <link rel="stylesheet" href="../../../../assets/css/templatemo-style.css"/>
    <link rel="stylesheet" href="../../../../assets/css/owl.css"/>
    <link rel="stylesheet" href="../../../../assets/css/lightbox.css"/>
</head>
<body>
<div id="page-wraper">
    <!-- Sidebar Menu -->
    <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
            <i class="fa fa-times" id="menu-close"></i>
            <div class="container">

                <div class="author-content">
                    <h4>Virtual Wallet</h4>

                </div>
                <nav class="main-nav" role="navigation">
                    <ul class="main-menu">
                        <li><a th:href="@{/}">Home</a></li>
                        <li><a th:if="${isAuthenticated}"th:href="@{/auth/logout}">Logout</a></li>

                    </ul>
                </nav>
                <div class="social-network">
                    <ul class="soial-icons">
                        <li>
                            <a href="#"><i class="fa fa-desktop"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-rss"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-credit-card"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-money"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-exchange"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-globe"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="copyright-text">
                    <p>©2021 Virtual Wallet</p>
                </div>
            </div>
        </div>
    </div>

    <section class="section about-me" data-section="section1">
        <div class="container">
            <div class="section-heading"></div>
            <div class="section-heading-table">
                <div th:if="${customerTransactions.isEmpty()}">
                    <h2 class="h2-customer-transactions" th:text="#{transactions.heading.empty}">No Transactions Found</h2>
                </div>
                <div th:unless="${customerTransactions.isEmpty()}">
                    <h2 class="h2-customer-transactions" th:text="#{transactions.heading.Not-empty}">Transactions</h2>
                </div>
                <div class="line-dec"></div>
                <span
                ></span
                >
            </div>

<form th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${filterTransactionDto}">
    <div class="fields">
        <div class="col-2">
            <input type="date" class="form-control" th:field="*{fromDate}" placeholder="fromDate">
        </div>
        <div class="col-2">
            <input type="date" class="form-control"  th:field="*{toDate}" placeholder="toDate">
        </div>
        <div class="col-2">
            <input type="text" class="form-control" th:field="*{sender}" placeholder="sender">
        </div>
        <div class="col-2">
            <input type="text" class="form-control" th:field="*{recipient}" placeholder="recipient">
        </div>
        <select class="form-select col-2" th:field="*{orderAmount}">
            <option selected value="">Sort by amount</option>
            <option selected value="asc">ASC</option>
            <option selected value="desc">DSC</option>
        </select>
        <select class="form-select col-2" th:field="*{orderDate}">
            <option selected value="">Sort by date</option>
            <option selected value="asc">ASC</option>
            <option selected value="desc">DSC</option>
        </select>
    </div>
    <div class="fields">
        <div class="col-2">
            <button type="submit">Filter</button>
        </div>
    </div>
</form>
<div class="content" th:unless="${customerTransactions.isEmpty()}">

    <table class="table" >

        <thead>
        <tr class="header">
            <th class="cell" th:text="#{transaction.label.sender}">Sender</th>
            <th class="cell" th:text="#{transaction.label.recipient}">Recipient</th>
            <th class="cell" th:text="#{transaction.label.date}">Date</th>
            <th class="cell" th:text="#{transaction.label.amount}">Amount</th>
            <th class="cell" th:text="#{transaction.label.direction}">Direction</th>
        </tr>
        </thead>

        <tbody   th:each="transaction : ${customerTransactions}">

        <tr class="line">
            <td>
                <a th:text="${transaction.getSender()}">Sender</a></td>

            <td>
                <a th:text="${transaction.getRecipient()}">Recipient</a></td>

            <td>
                <a th:text="${transaction.getTransactionDate().toString()}">Date</a></td>

            <td>
                <a th:text="${transaction.getBalance()}">Amount</a></td>

            <td class="cell-info">
                <a th:text="${transaction.getDirection()}">Direction</a></td>
        </tr>

        </tbody>

    </table>
    <form th:action="@{/transactions/new}" method="post">
        <div class="fields">
            <button th:unless="${isAdmin}">Create Transaction</button>
        </div>

    </form>
</div>
            <div class="fields">
    <div class="col-4">
        <div th:if="${totalItems}!=0" class="result">
    Total Transactions: &nbsp; <a th:text="${totalItems}">Total Transactions</a> &nbsp;- &nbsp; Page &nbsp; <a th:text="${currentPage}"> Current Page</a> &nbsp; of &nbsp;  <a th:text="${totalPages}">Total Pages</a>
        </div>
    </div>
            </div>
            <br>

            <div th:if="${totalItems}!=0" class="fields" style=" display:flex; justify-content:center; align-content: center;">
                <div class="previous">

    <a th:if="${currentPage>1} and ${queryString != ''}" th:href = "'/transactions/' + ${id} + '/filter/' + ${currentPage - 1} + '/page' + '?' + ${queryString}" th:text="Previous">Prev</a>
                    <a th:if="${currentPage>1} and ${queryString == ''}" th:href = "'/transactions/' + ${id} + '/filter/' + ${currentPage - 1} + '/page'" th:text="Previous">Prev</a>

                    <span th:unless="${currentPage>1}"th:text="Previous">Prev</span>
                </div>
                <th:block th:if="${totalPages<=10}">

                <span th:each="i :  ${#numbers.sequence(1,totalPages)}">

            <div class="number">
            <a th:if="${i!=currentPage} and ${queryString != ''}"  th:href = "'/transactions/' + ${id} + '/filter/' + ${i} + '/page' + '?' + ${queryString}" th:text="${i}">i</a>
                           <a th:if="${i!=currentPage} and ${queryString == ''}"  th:href = "'/transactions/' + ${id} + '/filter/' + ${i} + '/page'" th:text="${i}">i</a>

                <span th:unless="${i!=currentPage}" th:text="${i}">i</span>
            </div>
        </span>
                </th:block>
                <th:block th:if="${totalPages>10}">
                    <th:block th:if="${currentPage <=5 or currentPage >= totalPages - 4}">
                         <span th:each="i :  ${#numbers.sequence(1,5)}">
            <div class="number">
            <a th:if="${i!=currentPage} and ${queryString != ''}" th:href="'/transactions/'+ ${id} + '/filter/' + ${i} + '/page' + '?' + ${queryString}" th:text="${i}">i</a>
                           <a th:if="${i!=currentPage} and ${queryString == ''}" th:href="'/transactions/'+ ${id} + '/filter/' + ${i} + '/page'" th:text="${i}">i</a>
                <span th:unless="${i!=currentPage}" th:text="${i}">i</span>
            </div>
        </span>
                        <div class="number">
                            <a th:if="${6!=currentPage} and ${queryString != ''}" th:href="'/transactions/' + ${id} + '/filter/' + 6 + '/page' + '?' + ${queryString}" th:text="...">i</a>
                            <a th:if="${6!=currentPage} and ${queryString == ''}" th:href="'/transactions/' + ${id} + '/filter/' + 6 + '/page'" th:text="...">i</a>

                            <span th:unless="${6!=currentPage}" th:text="${currentPage}">i</span>
                        </div>

                        <span th:each="i :  ${#numbers.sequence(totalPages - 4,totalPages)}">
            <div class="number">
            <a th:if="${i!=currentPage} and ${queryString != ''}" th:href="'/transactions/'+${id}+'/filter/'+${i}+'/page' + '?' + ${queryString}" th:text="${i}">i</a>
                            <a th:if="${i!=currentPage} and ${queryString == ''}" th:href="'/transactions/'+${id}+'/filter/'+${i}+'/page' " th:text="${i}">i</a>

                <span th:unless="${i!=currentPage}" th:text="${i}">i</span>
            </div>
        </span>
                    </th:block>
                        <th:block th:if="${currentPage >5 and currentPage < totalPages - 4}">
                            <div class="number">
                                <a th:if="${queryString != ''}" th:href="'/transactions/'+${id}+'/filter/'+${currentPage - 5}+'/page' + '?' + ${queryString}" th:text="...">i</a>
                                <a th:if="${queryString == ''}" th:href="'/transactions/'+${id}+'/filter/'+${currentPage - 5}+'/page'" th:text="...">i</a>
                            </div>

                            <span th:each="i :  ${#numbers.sequence(currentPage - 4,currentPage + 4)}">
            <div class="number">
            <a th:if="${i!=currentPage} and ${queryString != ''}" th:href="'/transactions/'+${id}+'/filter/'+${i}+'/page'+ '?' + ${queryString}" th:text="${i}">i</a>
                            <a th:if="${i!=currentPage} and ${queryString == ''}" th:href="'/transactions/'+${id}+'/filter/'+${i}+'/page'" th:text="${i}">i</a>

                <span th:unless="${i!=currentPage}" th:text="${i}">i</span>
            </div>
        </span>

                            <div class="number">
                                <a th:if="${queryString != ''}" th:href="'/transactions/'+${id}+'/filter/'+${currentPage + 5}+'/page' + '?' + ${queryString}" th:text="...">i</a>
                                <a th:if="${queryString == ''}" th:href="'/transactions/'+${id}+'/filter/'+${currentPage + 5}+'/page'" th:text="...">i</a>

                            </div>
                </th:block>

                </th:block>

                <div class="next">
    <a th:if="${currentPage<totalPages} and ${queryString != ''}" th:href="'/transactions/'+${id}+'/filter/'+${currentPage + 1}+'/page'+ '?' + ${queryString}" th:text="Next">Next</a>
                    <a th:if="${currentPage<totalPages} and ${queryString == ''}" th:href="'/transactions/'+${id}+'/filter/'+${currentPage + 1}+'/page'" th:text="Next">Next</a>

                    <span th:unless="${currentPage<totalPages}" th:text="Next">Next</span>
                </div>
                </div>
            </div>
    </section>



</body>
<script>

</script>
</html>
