
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
            href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
            rel="stylesheet"
    />

    <title>Virtual Wallet</title>

    <!--
    Reflux Template
    https://templatemo.com/tm-531-reflux
    -->
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css" />
    <link rel="stylesheet" href="assets/css/templatemo-style.css" />
    <link rel="stylesheet" href="assets/css/owl.css" />
    <link rel="stylesheet" href="assets/css/lightbox.css" />
</head>
<body>
<div id="page-wraper">
    <!-- Sidebar Menu -->
    <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
            <i class="fa fa-times" id="menu-close"></i>
            <div class="container">

                <div class="author-content">
                    <h4>Virtual Wallet</h4>

                </div>
                <nav class="main-nav" role="navigation">
                    <ul class="main-menu">
                        <li><a href="#section1">About</a></li>
                        <!--<li><a th:unless="${isAuthenticated}" th:href="@{/auth/login}">Login</a></li>-->
                        <li><a th:if="${isAdmin}" th:href="@{/users/{currentPage}/page(currentPage = ${currentPage})}">Users</a></li>
                        <li><a  th:if="${isUser}" th:href="@{/transactions/{id}/filter/{currentPage}/page(id = ${loggedUser.getId()}, currentPage = ${currentPage})}">Transactions</a></li>
                        <li><a  th:if="${isUser}" th:href="@{/wallets/user (id = ${loggedUser.getId()}) }">Wallet</a></li>
                        <li><a th:if="${isAdmin}" th:href="@{/transactions/{currentPage}/page(currentPage = ${currentPage})}">Transactions</a></li>
                        <li><a th:if="${isAuthenticated}" th:href="@{/users/{id} (id = ${loggedUser.getId()})} ">Profile</a></li>
                        <li><a th:if="${isAuthenticated}"th:href="@{/auth/logout}">Logout</a></li>
                        <li><a th:unless="${isAuthenticated}"th:href="@{/auth/login}">Login</a></li>
                    </ul>
                </nav>
                <div class="social-network">
                    <ul class="soial-icons">
                        <li>
                            <a href="#"><i class="fa fa-desktop"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-rss"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-credit-card"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-money"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-exchange"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-globe"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="copyright-text">
                    <p>©2021 Virtual Wallet</p>
                </div>
            </div>
        </div>
    </div>

    <section class="section about-me" data-section="section1">
        <div class="container">
            <div class="section-heading">
                <h2>Virtual Wallet</h2>
                <div class="line-dec"></div>
                <span
                ></span
                >
            </div>
            <div class="left-image-post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="left-image">
                            <img src="assets/images/mobile-wallet.jpg" alt="" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right-text">
                            <h4>Virtual Wallet Application</h4>
                            <p>
                                Virtual Wallet is a web application that enables you to continently manage your budget. Every user can send and receive money (user to user) and put money in his Virtual Wallet (bank to app).
                            </p>
                            <div class="white-button">
                                <a th:href="@{/auth/register}">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-image-post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="service-item">
                            <div class="bank-transfer-icon" ></div>
                            <i class="fa fa-exchange"></i>
                            <h4>Make transaction</h4>
                            <p>
                                Users can transfer money to other users by entering another user's username and desired amount to be transferred.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item">
                            <div class="transaction-icon" ></div>
                            <i class="fa fa-google-wallet"></i>
                            <h4>Loading a virtual wallet</h4>
                            <p>
                                Each user can register one credit or debit card, which is used to transfer, put money in their Virtual Wallet (bank to app).
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>
</html>
