<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Users</title>-->
<!--    <link href="../static/pagination-transactions-styles.css" th:href="@{pagination-transactions-styles.css}" rel="stylesheet">-->
<!--</head>-->
<!--<body>-->

<!--<nav class="navBar">-->

<!--    <div class="navBar-topRight">-->
<!--        <a class="navbar-cell" th:if="${isAuthorized}" href="#" th:text="#{home.nav.all-transactions}" th:href="@{/transactions}">Transactions</a>-->
<!--        <a class="navbar-cell" th:if="${isAuthorized}" href="#" th:text="#{home.nav.all-users}" th:href="@{/users}">Users</a>-->
<!--        <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.my-account}" th:href="@{/users/{id} (id = ${loggedUser.getId()}) }">My account</a>-->
<!--        <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.logout}" th:href="@{/auth/logout}">Logout</a>-->
<!--    </div>-->

<!--</nav>-->

<!--<h2 class="h2-big" th:text="#{users.heading.Not-empty}">Users</h2>-->

<!--<form th:action="@{/users/search}" method="post" th:object="${keyword}">-->
<!--    <div class="fields">-->
<!--        <div class="col-6">-->
<!--            <input type="text" th:field="*{keyword}" placeholder="keyword">-->
<!--        </div>-->
<!--        <div class="col-2">-->
<!--            <button type="submit">Search</button>-->
<!--        </div>-->
<!--    </div>-->
<!--</form>-->

<!--<div class="content">-->

<!--    <table id="colorfulBoard" class="transactions-table">-->

<!--        <thead>-->
<!--        <tr>-->
<!--            <th class="cell">ID</th>-->
<!--            <th class="cell">Username</th>-->
<!--            <th class="cell">Email</th>-->
<!--            <th class="cell">PhoneNumber</th>-->
<!--            <th class="cell">Is Verified</th>-->
<!--        </tr>-->
<!--        </thead>-->

<!--        <tbody id="table-content">-->

<!--        </tbody>-->

<!--    </table>-->

<!--    <div class="d-flex justify-content-center" aria-label="Page navigation example">-->
<!--        <div class="pagination">-->
<!--            <button id="previous-page" class="page-item"><a class="page-link" href="#">Previous</a></button>-->
<!--            <button id="next-page" class="page-item"><a class="page-link" href="#">Next</a></button>-->
<!--            <button id="current-page" class="page-item"><a id="current-page-value" class="page-link" href="#"-->
<!--                                                           data-custom-value="0">1</a></button>-->
<!--        </div>-->
<!--    </div>-->


<!--</div>-->

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<!--<script src="../static/js/all-users.js" th:src="@{/js/all-users.js}"></script>-->


<!--</body>-->
<!--</html>-->