<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Transactions</title>-->
<!--    <link href="../static/pagination-transactions-styles.css" th:href="@{pagination-transactions-styles.css}" rel="stylesheet">-->
<!--</head>-->

<!--<body>-->

<!--    <nav class="navBar">-->

<!--        <div class="navBar-topRight">-->
<!--            <a class="navbar-cell" th:if="${isAdmin}" href="#" th:text="#{home.nav.all-transactions}" th:href="@{/transactions}">Transactions</a>-->
<!--            <a class="navbar-cell" th:if="${isAdmin}" href="#" th:text="#{home.nav.all-users}" th:href="@{/users}">Users</a>-->
<!--            <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.my-account}" th:href="@{/users/{id} (id = ${loggedUser.getId()}) }">My account</a>-->
<!--            <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.logout}" th:href="@{/auth/logout}">Logout</a>-->
<!--        </div>-->

<!--    </nav>-->

<!--<h2 class="h2-big" th:text="#{all.transactions.heading.Not-empty}">All Transactions</h2>-->


<!--    <form th:action="@{transactions/filter}" th:object="${filterTransactionDto}">-->
<!--        <div class="parcel-fields">-->
<!--            <div class="col-2">-->
<!--                <input type="date" class="form-control" th:field="*{fromDate}" placeholder="fromDate">-->
<!--            </div>-->
<!--            <div class="col-2">-->
<!--                <input type="date" class="form-control"  th:field="*{toDate}" placeholder="toDate">-->
<!--            </div>-->
<!--            <div class="col-2">-->
<!--                <input type="text" class="form-control" th:field="*{sender}" placeholder="sender">-->
<!--            </div>-->
<!--            <div class="col-2">-->
<!--                <input type="text" class="form-control" th:field="*{recipient}" placeholder="recipient">-->
<!--            </div>-->
<!--            <select class="form-select col-2" th:field="*{orderAmount}">-->
<!--                <option selected value="">Sort by amount</option>-->
<!--                <option selected value="asc">ASC</option>-->
<!--                <option selected value="desc">DSC</option>-->
<!--            </select>-->
<!--            <select class="form-select col-2" th:field="*{orderDate}">-->
<!--                <option selected value="">Sort by date</option>-->
<!--                <option selected value="asc">ASC</option>-->
<!--                <option selected value="desc">DSC</option>-->
<!--            </select>-->
<!--            <div class="col-2">-->
<!--                <button type="submit">Filter</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->

<!--<div class="content">-->

<!--<table id="colorfulBoard" class="transactions-table">-->

<!--    <thead>-->
<!--    <tr>-->
<!--        <th class="cell">ID</th>-->
<!--        <th class="cell">Sender</th>-->
<!--        <th class="cell">Recipient</th>-->
<!--        <th class="cell">Date</th>-->
<!--        <th class="cell">Amount</th>-->
<!--    </tr>-->
<!--    </thead>-->

<!--    <tbody id="table-content">-->


<!--    </tbody>-->

<!--</table>-->

<!--<div class="d-flex justify-content-center" aria-label="Page navigation example">-->
<!--    <div class="pagination">-->
<!--        <button id="previous-page" class="page-item"><a class="page-link" href="#">Previous</a></button>-->
<!--        <button id="next-page" class="page-item"><a class="page-link" href="#">Next</a></button>-->
<!--        <button id="current-page" class="page-item"><a id="current-page-value" class="page-link" href="#"-->
<!--                                                   data-custom-value="0">1</a></button>-->
<!--    </div>-->
<!--</div>-->

<!--</div>-->

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<!--<script src="../static/js/all-transactions.js" th:src="@{/js/all-transactions.js}"></script>-->

<!--</body>-->
<!--</html>-->