<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
            href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
            rel="stylesheet"
    />

    <title>Virtual Wallet</title>

    <!--
    Reflux Template
    https://templatemo.com/tm-531-reflux
    -->
    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../assets/css/fontawesome.css" />
    <link rel="stylesheet" href="../assets/css/templatemo-style.css" />
    <link rel="stylesheet" href="../assets/css/owl.css" />
    <link rel="stylesheet" href="../assets/css/lightbox.css" />
</head>
<body>
<div id="page-wraper">
    <!-- Sidebar Menu -->
    <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
            <i class="fa fa-times" id="menu-close"></i>
            <div class="container">

                <div class="author-content">
                    <h4>Virtual Wallet</h4>

                </div>
                <nav class="main-nav" role="navigation">
                    <ul class="main-menu">
                        <li><a th:href="@{/}">Home</a></li>
                        <li><a th:href="@{/auth/login}">Login</a></li>

                    </ul>
                </nav>
                <div class="social-network">
                    <ul class="soial-icons">
                        <li>
                            <a href="#"><i class="fa fa-desktop"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-rss"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-credit-card"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-money"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-exchange"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-globe"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="copyright-text">
                    <p>©2021 Virtual Wallet</p>
                </div>
            </div>
        </div>
    </div>


<div class="login-box">
    <h2>Register</h2>
    <form class="form" action="#" th:action="@{/auth/register}" th:object="${register}" method="post">
        <div class="user-box">
            <input class="input" required type="text" th:field="*{username}"  minlength="3" maxlength="20">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input class="input" required type="password" th:field="*{password}" minlength="8">
            <label>Password</label>
        </div>
        <div class="user-box">
            <input class="input" required type="password" th:field="*{passwordConfirm}" minlength="8">
            <label>Confirm password</label>
        </div>
        <div class="user-box">
            <input class="input" required type="email" th:field="*{email}" maxlength="30">
            <label>Email</label>
        </div>
        <div class="user-box">
            <input class="input" required type="text" th:field="*{phoneNumber}" minlength="10" maxlength="10">
            <label>Phone number</label>
        </div>
        <label class="error" th:errors="*{username}">Username error placeholder</label>
        <label class="error" th:errors="*{password}">Password error placeholder</label>
        <label class="error" th:errors="*{passwordConfirm}">Password confirm error placeholder</label>
        <label class="error" th:errors="*{email}">Email error placeholder</label>
        <label class="error" th:errors="*{phoneNumber}">PhoneNumber error placeholder</label>
        <button type="submit">Register</button>
    </form>
</div>
</body>
</html>