
<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->

<!--    <meta charset="utf-8" />-->
<!--    <meta-->
<!--            name="viewport"-->
<!--            content="width=device-width, initial-scale=1, shrink-to-fit=no"-->
<!--    />-->
<!--    <meta name="description" content="" />-->
<!--    <meta name="author" content="" />-->
<!--    <link-->
<!--            href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"-->
<!--            rel="stylesheet"-->
<!--    />-->

<!--    <title>Virtual Wallet</title>-->

<!--    &lt;!&ndash;-->
<!--    Reflux Template-->
<!--    https://templatemo.com/tm-531-reflux-->
<!--    &ndash;&gt;-->
<!--    &lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
<!--    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />-->

<!--    &lt;!&ndash; Additional CSS Files &ndash;&gt;-->
<!--    <link rel="stylesheet" href="assets/css/fontawesome.css" />-->
<!--    <link rel="stylesheet" href="assets/css/templatemo-style.css" />-->
<!--    <link rel="stylesheet" href="assets/css/owl.css" />-->
<!--    <link rel="stylesheet" href="assets/css/lightbox.css" />-->
<!--</head>-->
<!--<body>-->
<!--<div id="page-wraper">-->
<!--    &lt;!&ndash; Sidebar Menu &ndash;&gt;-->
<!--    <div class="responsive-nav">-->
<!--        <i class="fa fa-bars" id="menu-toggle"></i>-->
<!--        <div id="menu" class="menu">-->
<!--            <i class="fa fa-times" id="menu-close"></i>-->
<!--            <div class="container">-->

<!--                <div class="author-content">-->
<!--                    <h4>Virtual Wallet</h4>-->

<!--                </div>-->
<!--                <nav class="main-nav" role="navigation">-->
<!--                    <ul class="main-menu">-->

<!--                        <li><a th:href="@{/}">Home</a></li>-->
<!--                        <li><a th:if="${isAuthenticated}"th:href="@{/auth/logout}">Logout</a></li>-->
<!--                    </ul>-->
<!--                </nav>-->
<!--                <div class="social-network">-->
<!--                    <ul class="soial-icons">-->
<!--                        <li>-->
<!--                            <a href="#"><i class="fa fa-desktop"></i></a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#"><i class="fa fa-rss"></i></a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#"><i class="fa fa-credit-card"></i></a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#"><i class="fa fa-money"></i></a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#"><i class="fa fa-exchange"></i></a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#"><i class="fa fa-globe"></i></a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <div class="copyright-text">-->
<!--                    <p>©2021 Virtual Wallet</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


<!--<div class="container mt-3">-->
<!--  <div class="section-heading-table">-->
<!--      <h2 class="h2-customer-transactions" th:text="#{users.heading.empty}">No Users Found</h2>-->
<!--      <h2 class="h2-customer-transactions" th:text="#{users.heading.Not-empty}">Users</h2>-->
<!--            <div class="line-dec"></div>-->
<!--            <span-->
<!--              ></span-->
<!--            >-->
<!--          </div>-->
<!--    <form th:action="@{/users/search}" method="post" th:object="${keyword}">-->
<!--  <div class="fields">-->
<!--                <div class="col-2.8">-->
<!--            <input type="text"  placeholder="keyword">-->
<!--                </div>-->
<!--           -->
<!--                <div class="col-2">-->
<!--            <button type="submit">Search</button>-->
<!--                </div>-->
<!--            </div>-->
<!--    </form>-->
<!--    <div class="content" th:unless="${users.isEmpty()}">-->



<!--  <table class="table">-->
<!--    <thead>-->
<!--      <tr class="header">-->
<!--          <th class="cell" th:text="#{user.label.id}">ID</th>-->
<!--          <th class="cell" th:text="#{user.label.username}">Username</th>-->
<!--          <th class="cell" th:text="#{user.label.email}">Email</th>-->
<!--          <th class="cell" th:text="#{user.label.phone}">Phone number</th>-->
<!--          <th class="cell" th:text="#{user.label.status}">Status</th>-->
<!--      </tr>-->
<!--    </thead>-->

<!--      <tbody th:each="user : ${users}">-->

<!--      <tr class="line">-->

<!--          <td class="cell-info">-->
<!--              <a class="user-id" th:href="@{/users/{id}/status(id=${user.getId()})}" th:text="${user.getId()}">ID</a>-->
<!--          </td>-->

<!--          <td class="cell-info">-->
<!--              <a th:text="${user.getUsername()}">Username</a>-->
<!--          </td>-->

<!--          <td class="cell-info">-->
<!--              <a th:text="${user.getEmail()}">Email</a>-->
<!--          </td>-->

<!--          <td class="cell-info">-->
<!--              <a th:text="${user.getPhoneNumber()}">Phone number</a>-->
<!--          </td>-->

<!--      </tr>-->

<!--      </tbody>-->

<!--  </table>-->
<!--  -->
<!--</div>-->


<!--</body>-->
<!--</html>-->

