
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Virtual Wallet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <link
            href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
            rel="stylesheet"
    />

    <!--
  Reflux Template
  https://templatemo.com/tm-531-reflux
  -->
    <!-- Bootstrap core CSS -->
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../../assets/css/fontawesome.css"/>
    <link rel="stylesheet" href="../../assets/css/templatemo-style.css"/>
    <link rel="stylesheet" href="../../assets/css/owl.css"/>
    <link rel="stylesheet" href="../../assets/css/lightbox.css"/>
</head>
<body>
<div id="page-wraper">
    <!-- Sidebar Menu -->
    <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
            <i class="fa fa-times" id="menu-close"></i>
            <div class="container">

                <div class="author-content">
                    <h4>Virtual Wallet</h4>

                </div>
                <nav class="main-nav" role="navigation">
                    <ul class="main-menu">
                        <li><a th:href="@{/}">Home</a></li>
                        <li><a th:if="${isAuthenticated}"th:href="@{/auth/logout}">Logout</a></li>

                    </ul>
                </nav>
                <div class="social-network">
                    <ul class="soial-icons">
                        <li>
                            <a href="#"><i class="fa fa-desktop"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-rss"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-credit-card"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-money"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-exchange"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-globe"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="copyright-text">
                    <p>©2021 Virtual Wallet</p>
                </div>
            </div>
        </div>
    </div>


    <section class="section about-me" data-section="section1">
        <div class="container">
            <div class="section-heading"></div>
            <div class="section-heading-table">

                <h2></h2>
            </div>

            <div class="line-dec"></div>
            <span
            ></span
            >
        </div>

        <table class="table">
            <thead>
            <tr class="header">
                <th class="cell" th:text="#{wallet.label.username}">Username</th>
                <th class="cell" th:text="#{wallet.label.balance}">Balance</th>
            </tr>
            </thead>

            <tbody>
            <tr class="line">

                <td>
                    <a th:text="${displayUserWallet.getUsername()}">Username</a></td>

                <td>
                    <a th:text="${displayUserWallet.getBalance()}">Balance</a></td>
            </tr>
            </tbody>

        </table>

        <form th:action="@{/wallets/deposit}" method="post">
            <div class="white-button"><a href="#" th:href="@{/wallets/deposit}">Deposit</a></div>
            </div>

        </form>
    </section>

</body>
</html>
