<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/page-styles.css" th:href="@{/page-styles.css}" rel="stylesheet">
</head>
<body class="body">


  <h2>Congratulations! Your account has been verified</h2>
  <div class="white-button">
      <a th:href="@{/auth/login}">logIn</a>
  </div>


</body>
</html>