<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/page-styles.css" th:href="@{/page-styles.css}" rel="stylesheet">
</head>
<body class="body">

<h2>Your account has not been verified</h2>
<br>
<h4>Check your email and click the provided link to verify your account</h4>
<div class="white-button">
    <a th:href="@{/}">Home</a>
</div>



</body>
</html>