<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Title</title>
    <link href="/static/page-styles.css" th:href="@{/page-styles.css}" rel="stylesheet">
</head>
<body class="body">


  <h4 th:text="'A verification email has been sent to: ' + ${emailId}"></h4>
  <div class="white-button">
      <a th:href="@{/auth/login}">logIn</a>
  </div>

</body>
</html>