.body {
    margin: 0px;
    background: darkslategray;
    font-family: 'Roboto', sans-serif;
}
.navBar {
    font-size: large;
    padding: 30px;
    background-color: #1c3131;
    margin-bottom: 30px;
    border-color: black;
}
.navBar-topRight {
    display: unset;
    float: right;
    text-decoration: none;
}
.navbar-cell {
    text-decoration: none;
    margin: 9px;
    color: whitesmoke;
}

.content {
    text-align: -webkit-center;
}

.h2-customer-transactions {
    text-align: -webkit-center;
    font-size: xxx-large;
}

.header {
    display: table-header-group;
    font-weight: bold;
    font-size: 35px;
}

.row {
    display: table-row;
    font-size: 20px;
    outline-style: groove;
    outline-color: floralwhite;
    border: 20px;
    text-align-last: center;
}

.cell {
    display: table-cell;
    width: 165px;
    white-space: nowrap;
    padding: 4px;
    color: black;
}

.cell-info {
    display: table-cell;
    width: 165px;
    white-space: nowrap;
    padding: 4px;
    color: slategray;
}

.user-id {
    text-decoration: none;
}

.button-div {
    text-align: -webkit-center;
}

.create-transaction-button {
    background-color: SEAGREEN;
    font-size: large;
    COLOR: whitesmoke;
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.button {
    text-decoration: none;
    color: white;
}

#colorfulBoard {
    -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #ff77e3, 12px -5px 15px 5px #ff77e3, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 0px 0px 8px -20px rgba(0, 0, 0, 0.15);
    box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #ff77e3, 12px -5px 15px 5px #ff77e3, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 0px 0px 8px -20px rgba(0, 0, 0, 0.15);
    background-size: initial;
    background-color: white;
}