.body {
    background: #2d3e4f;
    text-align: -webkit-center;
    margin: 350px;
    font-size: xx-large;
}
h1   {color: white;}
h2   {color: white;}
h4   {color: white;}
.white-button a {
    display: inline-block;
    padding: 12px 20px;
    background-color: #fff;
    color:  #cf404e;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    text-decoration: none;
}

.white-button a:hover {
    background-color:  #cf404e;
    color: #fff;
}
.white-button {

    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #2d3e4f;
    color:  #cf404e;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;

}