body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-size: contain;
    margin: 0px;
    background: darkslategray;
}

.h2-big {
    text-align: -webkit-center;
    font-size: xxx-large;
}

.content {
    text-align: -webkit-center;
    margin-bottom: 100px;
}

/* THINGS TO CHANGE IF WANTED */
.navBar {
    font-size: large;
    padding: 40px;
    background-color: #1c3131;
    margin-bottom: 30px;
    border-color: black;
}
.navBar-topRight {
    display: unset;
    float: right;
    text-decoration: none;
}
.navbar-cell {
    text-decoration: none;
    margin: 9px;
    color: whitesmoke;
}

.row {
    display: table-row;
    font-size: 20px;
    outline-style: groove;
    outline-color: floralwhite;
    border: 20px;
    text-align-last: center;
}

.cell {
    display: table-cell;
    width: 165px;
    white-space: nowrap;
    padding: 4px;
    color: black;
}

.cell-info {
    display: table-cell;
    width: 165px;
    white-space: nowrap;
    padding: 4px;
    color: slategray;
}
 /* THINGS TO CHANGE IF WANTED*/


.rectangle-form {
    position: relative;
    display: inline-block;
    margin: 40px 8px;
    min-width: 230px;
    max-width: 315px;
    width: 75%;
    color: #000;
    text-align: left;
    font-size: 16px;
    background: #fff;
    border-radius: 5px;
}

.rectangle-form *,
.rectangle-form:before,
.rectangle-form:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.rectangle-form img {
    max-width: 35%;
    margin-top: -15px;
    margin-left: 60%;
    margin-bottom: 15px;
    backface-visibility: hidden;
    vertical-align: top;
    border-radius: 5px;
}

.rectangle-form figcaption {
    position: absolute;
    top: 0;
    right: 40%;
    left: 0;
    bottom: 0;
    padding: 15px;
}

.rectangle-form h3 {
    margin: 0;
    font-size: 1.1em;
    font-weight: normal;
}

.rectangle-form .icons {
    font-size: 1.6rem;
}

.rectangle-form .icons a {
    color: #ccc;
}

.rectangle-form .icons a:hover {
    color: #2980b9;
}

.col-5 {
    margin-left: 60px;
}

.pagination {
    margin-right: 620px;
    margin-top: 15px;
}

.page-item {
    background-color: mediumpurple;
    font-size: large;
    COLOR: darkorange;
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.page-link {
    text-decoration: none;
    color: darkblue;
}

#colorfulBoard {
    -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #ff77e3, 12px -5px 15px 5px #ff77e3, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 0px 0px 8px -20px rgba(0, 0, 0, 0.15);
    box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #ff77e3, 12px -5px 15px 5px #ff77e3, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 0px 0px 8px -20px rgba(0, 0, 0, 0.15);
    background-size: initial;
    background-color: white;
}