.body {
    margin: 0px;
    background: darkslategray;
}
.navBar {
    font-size: large;
    padding: 30px;
    background-color: #1c3131;
    margin-bottom: 30px;
    border-color: black;
}
.navBar-topRight {
    display: unset;
    float: right;
    text-decoration: none;
}
.navbar-cell {
    text-decoration: none;
    margin: 9px;
    color: whitesmoke;
}

.wallet-heading {
    text-decoration: none;
    color: whitesmoke;
}

.black-headings {
    font-family: monospace;
    font-size: 60px;
    margin: 25px;
    text-align: center;
    color: whitesmoke;
}

.register-button {
    background-color: SEAGREEN;
    font-size: large;
    COLOR: whitesmoke;
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.input {
    padding-left: 25px;
    font-size: initial;
    padding-top: 7PX;
    padding-right: 25px;
    border-radius: 8px;
}

.label {
    color: darkgreen;
    font-size: xxx-large;
    font: message-box;
    font-weight: bolder;
    font-size: large;
}

.error {
    color: red;
    font-size: medium;
    /*color: saddlebrown */
}


.form {
    alignment-baseline: middle;
    display: block;
    text-align-last: center;
    font-size: xx-large;
    /* padding-left: 250px; */
    /* padding-right: 250px; */
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 80px;
    margin-left: 475px;
    margin-right: 475px;
    background: whitesmoke;
    border-radius: 10px;
}

.not-registered {
    font-size: initial;
}
.create-account {
    text-decoration: none;
    color: forestgreen;
}