<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
    <link href="/static/page-styles.css" th:href="@{/page-styles.css}" rel="stylesheet">
</head>
<body class="body">
<h2 class="error" th:text="${error}">Error placeholder</h2>
</body>
</html>