<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="/static/page-styles.css" th:href="@{/page-styles.css}" rel="stylesheet">
</head>
<body class="body">

<h2>The token expires 24 hours after being sent.</h2>

<div class="white-button">
  <a th:href="@{/}" href="#" >Home</a>
</div>

</body>
</html>