/*

Reflux Template

https://templatemo.com/tm-531-reflux

*/

@import url(fontawesome.css);
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
body {
    font-family: 'Lato', sans-serif;
}

#page-wraper {
    background-color: #2d3e4f;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}


/* Basic */

body {
    overflow-x: hidden;
}

input,
select,
textarea {
    outline: none;
}

a,
a:hover {
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

h4 {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.25px;
}

img {
    width: 100%;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    display: inline-block;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.container {
    margin: 0 auto;
}

.main-nav {
    text-align: center;
}

.main-nav li:last-child a {
    border-bottom: 2px solid #2d3e4f;
}

.main-nav li {
    display: block;
}

.main-nav li a {
    height: 70px;
    line-height: 70px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #2d3e4f;
    width: 100%;
    transition: all 0.5s;
    border-top: 2px solid #2d3e4f;
}

.main-nav li:hover a,
.main-nav li.active a {
    background: #2d3e4f;
    color: #cf404e;
}

/* Sidebar Menu */

.menu .image {
    margin-top: 60px;
}

.menu .image img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    text-align: center;
}

.menu .author-content {
    margin: 40px 0px 60px 0px;

}

.menu .author-content h4 {
    margin-bottom: 0px;
    color:#2d3e4f;
}

.menu .author-content span {
    font-size: 13px;
    font-style: italic;
    color: #2d3e4f;
}

.menu .social-network {
    margin-top: 60px;
}

.menu .social-network ul li {
    margin: 0 3px;
}

.menu .social-network ul li a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    transition: all 0.5s;
}

.menu .social-network ul li a:hover {
    background-color: #fff;
    color: #a43f49;
}

.menu .copyright-text {
    position: relative;
    margin-top: 60px;
}

.menu .copyright-text p {
    border-top: 1px solid rgb(45, 62, 79);
    display: inline-block;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    font-size: 13px;
    color:#2d3e4f;
    font-weight: bold;

}

.menu:before,
.menu:after {
    content: "";
    display: table;
}

.menu:after {
    clear: both;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu {
    text-align: center;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu {
    left: 10%;
    -webkit-transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
    -webkit-overflow-scrolling: touch;
    background-color:  #cf404e;
    box-sizing: border-box;
    height: 100vh;
    max-height: 100vh !important;
    max-width: 80vw !important;
    min-width: 45px !important;
    outline: none;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    padding: 0;
    position: fixed !important;
    top: calc(0px);
    width: 20%;
    will-change: transform;
    z-index: 9999 !important;
}

.menu-toggle {
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    position: fixed;
    right: 25px;
    top: 25px;
}

#menu-toggle {
    z-index: 999;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    color: #a43f49;
    background-color: #fff;
    width: 60px;
    height: 60px;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}

.menu-close {
    cursor: pointer;
}

#menu-close {
    cursor: pointer;
    text-align: right;
    color: #a43f49;
    background-color: #fff;
    width: 100%;
    height: 60px;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}


/* Section */

.section {
    color: #fff;
    width: 55%;
    right: 10%;
    left: 35%;
    position: relative;
    min-height: 100vh;
    padding-bottom: 80px;
    border-bottom: 3px solid rgba(250, 250, 250, 0.25);
}

.section-heading {
    text-align: center;
    padding: 80px 45px;
}
.section-heading-table {
    text-align: center;
    padding: 10px 45px;
    margin-top:0px;
}
.section-heading-table .line-dec {
    width: 60px;
    height: 3px;
    background-color:  #cf404e;
    margin: 10px auto;
}
.section-heading-profile-table {
    text-align: center;
    padding: 10px 45px;
    margin-right:80px;
}
.section-heading-profile-table .line-dec {
    width:80px;
    height: 3px;
    background-color:  #cf404e;
    margin: 10px auto;
}
.section-heading h2 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}

.section-heading .line-dec {
    width: 60px;
    height: 3px;
    background-color:  #cf404e;
    margin: 10px auto;
}

.section-heading span {
    margin-top: 5px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.5px;
}


/* Buttons */

.white-button a {
    display: inline-block;
    padding: 12px 20px;
    background-color: #fff;
    color:  #cf404e;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;

}

.white-button a:hover {
    background-color:  #cf404e;
    color: #fff;
}
.white-button {

    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
background-color: #2d3e4f;
    color:  #cf404e;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;

}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color:  #cf404e;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    border: none;
    outline: none;
    cursor: pointer;
}

button:hover {
    outline: none;
    background-color: #cf404e;
    color: #fff;
}


/* Left & Right Post */

.right-image-post {
    margin-top: 60px;
    padding-top: 60px;
    border-top: 2px solid rgba(250, 250, 250, 0.1);
}

.left-image img,
.right-image img {
    border-radius: 5px;
}

.right-image-post h4,
.left-image-post h4 {
    margin-top: 30px;
}

.right-image-post p,
.left-image-post p {
    margin-top: 20px;
}

.right-image-post .white-button,
.left-image-post .white-button {
    margin-top: 30px;
}


/* Services */

.my-services .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}

.service-item {
    margin-bottom: 10px;
    padding: 50px;
    background-color: rgba(250, 250, 250, 0.1);
    transition: all 0.5s;
}

.service-item h4 {
    transition: all 0.5s;
}

.service-item p {
    transition: all 0.5s;
}



.service-item:hover h4 {
    color: #1e1e1e;
}

.service-item:hover p {
    color: #1e1e1e;
}
.service-item:hover .transaction-icon{
    color: #1e1e1e;
}

.service-item .service-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s;
}

.service-item.transaction-icon {
    padding-top: 0px;

}
.service-item.bank-transfer-icon {
    padding:-top: 0px;
}
.service-item:hover .first-service-icon {
    background-image: url(../images/first-main-icon.png);
}

.service-item .second-service-icon {
    background-image: url(../images/second-white-icon.png);
}

.service-item:hover .second-service-icon {
    background-image: url(../images/second-main-icon.png);
}

.service-item .third-service-icon {
    background-image: url(../images/third-white-icon.png);
}

.service-item:hover .third-service-icon {
    background-image: url(../images/third-main-icon.png);
}

.service-item .fourth-service-icon {
    background-image: url(../images/fourth-white-icon.png);
}

.service-item:hover .fourth-service-icon {
    background-image: url(../images/fourth-main-icon.png);
}


/* My Work */

section.my-work .section-heading {
    text-align: center;
    padding: 80px 45px 50px 45px;
}

.isotope-wrapper {
    position: relative;
    width: 100%;
    margin: auto;
}

.isotope-toolbar input[type="radio"] {
    display: none;
}

.isotope-toolbar span {
    text-transform: capitalize;
    display: inline-block;
    margin-right: 15px;
    padding-bottom: 3px;
    font-size: 15px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    transform: ease-in-out 0.5s;
    cursor: pointer;
}

.isotope-toolbar input[type="radio"]:checked + span {
    color: #a43f49;
    border-bottom: 2px solid #a43f49;
}

.isotope-box {
    position: relative;
    width: 100%;
}

.isotope-toolbar {
    text-align: center;
    margin: 10px;
}

.isotope-toolbar p {
    border-top: 1px solid #fff;
    padding-top: 15px;
}

.isotope-toolbar a {
    color: #fff;
}

.isotope-item {
    position: relative;
    width: 48%;
    margin: 1%;
    border-bottom: 2px solid rgba(250,250,250,0.1);
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.isotope-item img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.lazyload {
    background: #f7f7f7;
}

.lazyloading {
    background: #f7f7f7 url(//afarkas.github.io/lazysizes/assets/imgs/loader.gif) no-repeat center;
    min-height: 60px;
}

figure.snip1321 {
    overflow: hidden;
    text-align: center;
    -webkit-perspective: 50em;
    perspective: 50em;
}
figure.snip1321 * {
    -webkit-box-sizing: padding-box;
    box-sizing: padding-box;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
figure.snip1321 figcaption {
    top: 50%;
    left: 20px;
    right: 20px;
    position: absolute;
    opacity: 0;
    z-index: 1;
}
figure.snip1321 h4 {
    margin-top: 15px;
    margin-bottom: 5px;
    color: #232323;
}
figure.snip1321 span {
    font-size: 14px;
    font-style: italic;
    display: block;
    color: #7a7a7a;
}
figure.snip1321 i {
    position: relative!important;
    font-size: 18px;
    background-color: #a43f49;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    color: #fff;
}
figure.snip1321:after {
    background-color: #ffffff;
    position: absolute;
    content: "";
    display: block;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 0;
}
figure.snip1321 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}
figure.snip1321:hover figcaption,
figure.snip1321.hover figcaption {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
figure.snip1321:hover:after,
figure.snip1321.hover:after {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 0.9;
}



/* Contact Me */


@media screen and (max-width: 1680px) {
    .menu {
        left: 5%;
    }

    .section {
        color: #fff;
        width: 65%;
        right: 5%;
        left: 30%;
    }
}

@media screen and (max-width: 1680px) and (min-width: 846px) {
    .menu .social-network ul li a {
        width: 36px;
        height: 36px;
        line-height: 36px;
    }

    .menu .social-network ul li {
        margin: 0;
    }

    .menu .image {
        margin-top: 60px;
    }
}

@media screen and (max-width: 1280px) {
    .menu {
        left: 0%;
    }

    .right-image-post h4,
    .left-image-post h4 {
        margin-top: 0px;
    }

    .right-image-post p,
    .left-image-post p {
        margin-top: 15px;
    }

    .right-image-post .white-button,
    .left-image-post .white-button {
        margin-top: 25px;
    }

}

.menu .container {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 1280px) and (min-width: 846px) {
    .menu {
        width: 25%;
    }
}

#menu-toggle,
#menu-close {
    display: none;
}



.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    border-radius: 10px;
    background-color:#2d3e4f;
    border-style: solid;
    border-color: #cf404e;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;

}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #cf404e;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #cf404e;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box a:hover {
    background: #cf404e;
    color: #fff;
    border-radius: 5px;

}

.login-box a span {
    position: absolute;
    display: block;

}

.login-box a span:nth-child(1) {
    top: 0;
    left: -10%;
    width: 10%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #cf404e);

}



.login-box a span:nth-child(2) {
    top: -10%;
    right: 0;
    width: 2px;
    height: 10%;
    background: linear-gradient(180deg, transparent, #cf404e);

}



.login-box a span:nth-child(3) {
    bottom: 0;
    right: -10%;
    width: 10%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #cf404e);


}


.login-box a span:nth-child(4) {
    bottom: -10%;
    left: 0;
    width: 2px;
    height: 10%;
    background: linear-gradient(360deg, transparent, #cf404e);

}
.header{
    background-color: #cf404e;
}
.users{
    width:400px;
}
.content{
    margin-bottom:50px;
}
/* Table */
.line{
    color: #fff;
}
.fields{
    display:flex;
    align-items:baseline;
    margin-bottom:13px;
}
.transaction-fields{
    display:flex;
    align-items:baseline;
    margin-bottom:40%;
}
select {
    color: #cf404e;

}
&.open {
     box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.2);
     outline: 0;
     background-color: #FF908B;
     color: #000;

&::-webkit-input-placeholder {
     color: #000;
 }
}
.login-box-account{
    position:absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height:500px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    border-radius: 10px;
    background-color:#2d3e4f;
    border-style: solid;
    border-color: #cf404e;
}
html {
    height: 100%;
}
body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-color: #2d3e4f;
}



.llogin-box-account h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box-account .user-box {
    position: relative;

}

.login-box-account .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box-account .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box-account .user-box input:focus ~ label,
.login-box-account .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #cf404e;
    font-size: 12px;
}

.login-box-account form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #cf404e;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box-account a:hover {
    background: #cf404e;
    color: #fff;
    border-radius: 5px;

}

.login-box-account a span {
    position: absolute;
    display: block;

}

.login-box-account a span:nth-child(1) {
    top: 0;
    left: -10%;
    width: 10%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #cf404e);

}



.login-box-account a span:nth-child(2) {
    top: -10%;
    right: 0;
    width: 2px;
    height: 10%;
    background: linear-gradient(180deg, transparent, #cf404e);

}



.login-box-account a span:nth-child(3) {
    bottom: 0;
    right: -10%;
    width: 10%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #cf404e);


}


.login-box-account a span:nth-child(4) {
    bottom: -10%;
    left: 0;
    width: 2px;
    height: 10%;
    background: linear-gradient(360deg, transparent, #cf404e);

}
.img-rounded{
    border-radius: 50%;
    width: 200px;
}
/* Pagination */
body{

    background:#2d3e4f;
    color:#fff;
}
.fields fields-center{
    text-align:center;
}

.next span{
    font-size: 14px;
    font-weight: 800;
    margin-left: 9px;
    color:  #fff;

    padding: 12px 18px;
    border-radius:5px 25px 25px 5px;
}
.next a{
    display: inline-block;
    padding: 12px 18px;
    color:  #fff;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    font-weight: 800;
    border-radius:5px 25px 25px 5px;
    border: 2px solid  #cf404e;
    margin-left: 9px;
}
.number span{
    font-size: 14px;
    font-weight: 800;
    margin-left: 9px;
    margin-right: 9px;
    color:  #cf404e;
    padding:12px 18px;
    border-radius:50%;
}
.number a {
    padding:12px 18px;
    color:  #fff;
    font-size: 12px;
    border-radius:50%;
    border: 2px solid  #cf404e;
    font-weight: 800;
    margin-left: 9px;
    margin-right: 9px;
}
.previous span{
    font-size: 14px;
    font-weight: 800;
    margin-right: 9px;
    color:  #fff;
    padding: 12px 18px;
    border-radius:25px 5px 5px 25px;
}

.previous a {

    display: inline-block;
    padding: 12px 18px;
    color:  #fff;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    border-radius:25px 5px 5px 25px;
    font-weight: 800;
    margin-right: 9px;
    border: 2px solid  #cf404e;
}
.result{
    font-size: 14px;
    font-weight: 800;
    color:#fff;
    width: 800px;
}
.fields .next a:hover,
.fields .previous a:hover,
.fields .number a:hover
{
    background:#cf404e;
    color:#fff;
}
.fields .center{
    display:flex;
    justify-content:center;
    align-content: center;
}
